
.form{
    display: flex;
    justify-content:space-between;
}

.input {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #eceae5;
    font-size: large;
    min-width: 80%;

}

.button {
    color:white;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    background-color: #74685a;
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: 0 3px 3px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}

.button:active {
    background-color: #e3d6c3;
    color:black;
}

@media (max-width: 480px) {

    .input {
        min-width: auto;
        font-size: 1rem;
    }

    .button {
        font-size: smaller;
        position: relative;
    }
}