.container {
    color: rgb(56, 53, 48);
    width: 30rem;
    opacity: 0.8;
}

.todo_container {
    background-color: rgb(206, 199, 191);
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 7px;
    font-size: 25px;
}


input {
    accent-color: rgb(108, 106, 106);

}

label {
    font-size: smaller;
    letter-spacing: 2px;

}

@media (max-width: 480px) {

    h1 {
        font-size: 15px;
    }

    .container {
        width: 20rem;
    }
}