
body {
    margin: 30px;
    background-image: url(../public/image2.jpeg);
    background-color: rgb(195, 189, 178);
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 5px;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



